In [1]:
# import sktime
# https://alan-turing-institute.github.io/sktime/examples/forecasting.html
import os
import json
import pandas as pd
import numpy as np

In [2]:
from create_ar_data import load_from_file
from make_dataset import tabularize_univariate

In [3]:
## Notebook settings
data_path = '../ar_data'
data_name = 'ar_3_ma_0_noise_0.100_len_10000'

In [4]:
## Load data
## if created AR data with create_ar_data, we can use the helper function:
# df, data_config = load_from_file(data_path, data_name, load_config=True)
# print(data_config)
# n_lags = data_config["ar_order"]

In [5]:
## Load data
## else we can manually load any file that stores a time series, for example:
df = pd.read_csv(os.path.join(data_path, data_name + '.csv'), header=None, index_col=False)
n_lags = 3

In [6]:
print(df.shape)
df.head()

(10000, 1)

          0
0 -0.062673
1 -0.010492
2  0.009499
3 -0.007691
4  0.158602

In [7]:
## create a tabularized dataset from time series
df_tab = tabularize_univariate(df, n_lags, n_forecasts=1)

In [8]:
print(df_tab.shape)
df_tab.head()

(9997, 4)

        x_0       x_1       x_2       y_0
0 -0.062673 -0.010492  0.009499 -0.007691
1 -0.010492  0.009499 -0.007691  0.158602
2  0.009499 -0.007691  0.158602  0.034262
3 -0.007691  0.158602  0.034262  0.118526
4  0.158602  0.034262  0.118526  0.033883